.navbar-nav {
  margin-left: 50px;
}

.form-inline {
  display:flex;
  flex-flow: nowrap;
  align-items: center;
}

.form-control {
  border-radius: .25rem 0 0 .25rem;
}

.btn-success {
  border-radius: 0 .25rem .25rem 0;
  background-color: #00A651;
}

.navbar-nav {
  margin-left: 50px;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 60vh;
  }
  


/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 60vh;
  }
  
