/* Give the body a font family and a color and set the margin */
body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.h {
  font-family: 'Signika', sans-serif;
}

.input {
  font-family: 'Signika', sans-serif;
}

/* Give the buttons a font family and background*/
button {
  font-family: 'Signika', sans-serif;
  background-color: #00A651;
}

.btn {
  background-color: #00A651;
}

/* Give the selects a font family*/
select {
  font-family: 'Signika', sans-serif;
}

.navbar-nav {
  margin-left: 50px;
}

.form-inline {
  display:flex;
  flex-flow: nowrap;
  align-items: center;
}

.form-control {
  border-radius: .25rem 0 0 .25rem;
}

.btn-success {
  border-radius: 0 .25rem .25rem 0;
}

.navbar-nav {
  margin-left: 50px;
}

#detail-view {
  margin-top: 120px;
}

#topresults {
  margin-top: 120px;
}

#urban-crud {
  margin-top: 600px;
}


/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 65vh;
    margin-top: 120px;
  }
  
  /* 
 * Social Media icon. 
 */
  .card-body i{
    font-size: 350%;
    font-weight: 600;
}

#socialsgap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.fa-facebook {
  color: #3B5998;
}

.fa-facebook {
  transition: all .2s ease-in-out;
}

.fa-facebook:hover {
  transform: scale(1.1);
}

.fa-instagram {
  color: #3F729B;
}

.fa-instagram {
  transition: all .2s ease-in-out;
}

.fa-instagram:hover {
  transform: scale(1.1);
}

.fa-twitter-square {
  color: #00ACEE;
}

.fa-twitter-square {
  transition: all .2s ease-in-out;
}

.fa-twitter-square:hover {
  transform: scale(1.1);
}


/* 
 * Apply all table css
 */

table {
  font-family: 'Signika', sans-serif;
  margin-bottom: 2.5px;
}

.wp-block-table {
        overflow-x: auto;
        overflow-y: auto;
      }
      
 .wp-block-table thead th {
        position: sticky;
        top: 0;
        z-index: 5;
      }

.tabletime {
  border-collapse: collapse;
  width: 100%;
}

#swappera {
    margin-bottom: 25px;
}

#swappera th {
    background-color: #ddd;
}

#swapperb {
    margin-bottom: 25px;
}

#swapperb th {
    background-color: #ddd;
}

/* The Table Header th */
.tabletime th {
  text-align: left;
}

.tabletime th:nth-child(n + 2) {
    text-align: center;
}

/* The Table Stripes */
.tabletime tr:nth-child(odd) td {
  background-color: #ffff;
}

.tabletime tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.tabletime tr:hover {
  background-color: #ddd;
}

/* The Table Rows and Header */
.tabletime td {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* The Table First Column Fixed No Scroll */
.tabletime tr td:nth-child(1) {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
  font-weight: bold;
  text-align: left;
}

/* This sets the thickness for specific column*/
table .thickborder {
  border-left: 2px double 	#54595F; 
  border-right: 2px double 	#54595F; 
}

/* This sets the thickness for specific column left only*/
table .thickleft {
  border-left: 2px double 	#54595F; 
}

/* This sets the thickness for specific column right only*/
table .thickright {
  border-right: 2px double 	#54595F; 
}
