/* Give the body a font family and a color and set the margin */
body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.h {
  font-family: 'Signika', sans-serif;
}

.input {
  font-family: 'Signika', sans-serif;
}

/* Give the buttons a font family and background*/
button {
  font-family: 'Signika', sans-serif;
  background-color: #00A651;
}

.btn {
  background-color: #00A651;
}

/* Give the selects a font family*/
select {
  font-family: 'Signika', sans-serif;
}

.navbar-nav {
  margin-left: 50px;
}

.form-inline {
  display:flex;
  flex-flow: nowrap;
  align-items: center;
}

.form-control {
  border-radius: .25rem 0 0 .25rem;
}

.btn-success {
  border-radius: 0 .25rem .25rem 0;
}

.navbar-nav {
  margin-left: 50px;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 60vh;
  }
  
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 60vh;
  }

  .card-body i{
    font-size: 300%;
    padding: 5%;
}
