{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Timetable Search</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script type="module" src="{% static 'js/index.js' %}"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <img id="sitelogo"
          src="https://res.cloudinary.com/dxbarumnj/image/upload/f_auto,h_76/v1675442955/llcsitelogo_o6ullv.png"
          alt="Logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'urban_list' %}">Urban Centres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline" action="{% url 'search_results' %}" method="get">
          <input class="form-control mr-sm-2" type="search" name="q" placeholder="Type Here to Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <main class="flex-shrink-0 main-bg">
    
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}

  </main>

  <!-- Footer -->
  <footer>
    <div class="container-fluid px-4">
      <div class="card-deck row">
        <div class="p-3 card bg-light col">
          <div class="card-header">
            <h4>Follow Us</h4>
          </div>
          <div class="card-body text-center">
            <p id="socialsgap">
              <a href="https://www.facebook.com/Locallinkcork/" aria-label="Go to our facebook page (opens in new tab)"
                target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/tfilocallinkcork/"
                aria-label="Go to our instagram page (opens in new tab)" target="_blank" rel="noopener"><i
                  class="fab fa-instagram"></i></a>
                  <a href="https://twitter.com/locallinkcork?lang=en" aria-label="Go to our twitter page (opens in new tab)"
                  target="_blank" rel="noopener"><i class="fab fa-twitter-square"></i></a>
            </p>
          </div>
          <div class="card-body text-center">
            <p>
              Local Link Cork is a Registered Irish Charity<br>
              No: 20053475 based in Fermoy and Bantry<br>
            </p>
            <p>
              Local Link provides a combination of scheduled<br>
              Public Transport services and door-to-door services.<br>
            </p>
          </div>
        </div>
        <div class="p-3 card bg-light col">
          <div class="card-header ">
            <h4>Contact Us</h4>
          </div>
          <div class="card-body text-center">
            <h5>BANTRY OFFICE</h5>
            <p>
              12 Barrack St.<br>
              Bantry, Co.Cork<br>
              P75 H429<br>
              <a href="tel:3532752727">+353 27 52727</a><br>
              <a href="mailto:info@locallinkcork.ie">info@locallinkcork.ie</a>
          </div>
          <div class="card-body text-center">
            <h5>FERMOY OFFICE</h5>
            <p>
              Council Offices<br>
              Courthouse Road<br>
              Fermoy Co. Cork<br>
              P61 AW63<br>
              <a href="tel:3532551454">+353 25-51454</a><br>
              <a href="mailto:info@locallinkcork.ie">info@locallinkcork.ie</a>
            </p>
          </div>     
        </div>
        <div class="p-3 card bg-light col">
          <div class="card-header">
           <h4>Our Partners</h4>
          </div>
          <div class="card-body text-center">
            <p>
              <img src="https://res.cloudinary.com/dxbarumnj/image/upload/v1675442962/tfilogo_akzu1l.png" alt="logo1"
                class="mr-3">
            </p>
          </div>
          <div class="card-body text-center">
            <p>
              <img src="https://res.cloudinary.com/dxbarumnj/image/upload/v1675442959/ntalogo_ba4zv9.png" alt="logo2">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid"> 
      <div class="row row-no-gutters">
        <div class="col-lg-4 text-center"">
          <p>&copy; Copyright All Rights Reserved</p>
        </div>
        <div class=" col-lg-4 text-center">
          <p>Terms of Use</p>
        </div>
        <div class="col-lg-4 text-center">
          <p id="privacynote">Privacy Statement</p>
        </div>
      </div>
    </div>
  </footer>
  <script>
    setTimeout(function () {
      let messages = document.getElementById('msg');
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 2000);
  </script>
</body>

</html>