{% extends "base.html" %}

{% block content %}

{% include "map.html" %}

<div class="container-fluid mt-3" id="list-table">
  <p>Type something in the input field to search the table for routes or days:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Route</th>
        <th>Days</th>
        <th>Inbound</th>
        <th>Outbound</th>
        <th>Likes</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for post in post_list %}
      <tr>
        <td><a href="{% url 'post_detail' post.slug  %}" class="post-link">
            {{ post.title }}
          </a></td>
        <td>{{ post.active_days }}</td>
        <td>{{ post.inbound }}</td>
        <td>{{ post.outbound }}</td>
        <td>
          <p class="card-text text-muted h6"><i class="far fa-heart"></i>
            {{ post.number_of_likes }}</p>
        </td>
      </tr>
      {% empty %} 
      <tr>
        <td>No Routes have been set up yet!</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
{%endblock%}
