{% extends "base.html" %}

{% block content %}

{% include "map.html" %}

<div class="container-fluid mt-3" id ="list-table">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Route</th>
              <th>Days</th>
              <th>Likes</th>
            </tr>
          </thead>
        <tbody>
            {% for post in post_list %}
            <tr>
                <td><a href="{% url 'post_detail' post.slug  %}" class="post-link">
                    {{ post.title }}
                </a></td>
                <td>{{ post.active_days }}</td>
                <td><p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                    {{ post.number_of_likes }}</p></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}