{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-3" id="urban-list">
  <h1>Urban List</h1>
  <figure id="swappera" class="wp-block-table">
    <div style="overflow-x: auto;">
      <table id="tabletimeA" class="tabletime">
        <tbody>
          <tr>
            <th>Urban Centre</th>
            <th>Slug</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Show On Map</th>
            <th colspan="4">Actions</th>
          </tr>
          {% for urban in urbans %}
          <tr>
            {% if urban.showmap %}
            <td>{{ urban.title }}</td>
            <td>{{ urban.slug }}</td>
            <td>{{ urban.latitude }}</td>
            <td>{{ urban.longitude }}</td>
            {% else %}
            <td><strike>{{ urban.title }}</strike></td>
            <td><strike>{{ urban.slug }}</strike></td>
            <td><strike>{{ urban.latitude }}</strike></td>
            <td><strike>{{ urban.longitude }}</strike></td>
            {% endif %}
            <td>{{ urban.showmap }}</td>
            <td>
              <a href="{% url 'add' %}" aria-label="Add new urban centre">
                <div class="btn btn-block btn-primary">Add</div>
              </a>
            </td>
            <td>
              <a href="{% url 'edit' urban.id %}" aria-label="Edit urban centre">
                <div class="btn btn-block btn-primary">Edit</div>
              </a>
            </td>
            <td>
              <a href="{% url 'toggle' urban.id %}" aria-label="toggle urban centre visibility on map">
                <div class="btn btn-block btn-primary">Toggle</div>
              </a>
            </td>
            <td>
              <a href="{% url 'delete' urban.id %}" aria-label="Delete new urban centre">
                <div class="btn btn-block btn-primary">Delete</div>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td>There are no Urban Centres Set Up yet</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </figure>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
</nav>
{% endif %}
{%endblock%}