<body id="urban-crud">
  <h1>Urban List</h1>
  <table>
    {% for urban in urbans %}
    <tr>
      {% if urban.showmap %}
        <td>{{ urban.title }}</td>
        <td>{{ urban.slug }}</td>
        <td>{{ urban.latitude }}</td>
        <td>{{ urban.longitude }}</td>
      {% else %}
        <td><strike>{{ urban.title }}</strike></td>
        <td><strike>{{ urban.slug }}</strike></td>
        <td><strike>{{ urban.latitude }}</strike></td>
        <td><strike>{{ urban.longitude }}</strike></td>
      {% endif %}
      <td>{{ urban.showmap }}</td>
      <td>
        <a href="{% url 'add' %}">
        <button>Add</button>
        </a>
      </td>
      <td>
        <a href="{% url 'edit' urban.id %}">
        <button>Edit</button>
        </a>
      </td>
      <td>
        <a href="{% url 'toggle' urban.id %}">
          <button>Toggle</button>
          </a>
      </td>
      <td>
        <a href="{% url 'delete' urban.id %}">
            <button>Delete</button>
            </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td>There are no Urban Centres Set Up yet</td>
    </tr>
  </table>
  <a href="{% url 'add' %}">Add</a>
  {% endfor %}
</body>