{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="card bg-light col">
      <div class="card-header">
        <h1 class="post-title">{{ post.title }}</h1>
        <!-- Post author goes before the | the post's created date goes after -->
        <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
      </div>
      <div class="card-body text-center">
        {{ post.content | safe }}
      </div>
    </div>
      
    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-block btn-secondary">PDF Version</button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-block btn-secondary">Search Results</button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-block btn-secondary">New Search</button>
      </div>
    </div>
</div>
 
  {% endblock content %}