{% extends 'base.html' %} {% block urbans %}
{% load crispy_forms_tags %}

<div class="container-fluid mt-3" id="list-urban">
    <p>Type something in the input field to search the table for routes or days:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Urban</th>
          <th>Description</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for urban in urbans %}
        <tr>
          <td>{{ urban.title }}</td>
          <td>{{ urban.description }}</td>
          <td>{{ urban.latitude }}</td>
          <td>{{ urban.longitude }}</td>
          <td>{{ urban.approved }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href ="/add">Add an Urban Centre</a> 
  </div>

{%endblock%}